@import "./Draggable/index.css";
@import "./Droppable/index.css";
@import "./Empty/index.css";
@import "./Resizable/index.css";

.ory-cell-inline-left {
  float: left;
}

.ory-cell-inline-right {
  float: right;
}

.ory-cell-has-inline-neighbour {
  float: none;
  width: 100%;
}

.ory-cell-focused {
  /* box-shadow: 0 0 5px rgb(81, 203, 238); */
  /* outline: 1px solid rgb(81, 203, 238); */
}
.ory-cell {}
.ory-cell-bring-to-front {}

.ory-cell-resizing-overlay:after {
  content: " ";
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
