@import './Draggable/index.css';
@import './Droppable/index.css';
@import './ErrorCell/index.css';

.react-page-cell-inline-left {
  float: left;
}

.react-page-cell-inline-right {
  float: right;
}

.react-page-cell-has-inline-neighbour {
  float: none;
  width: 100%;
}
.react-page-cell-is-draft {
  opacity: 0.3;
  outline: 1px dashed black;
}

.react-page-cell-focused {
  box-shadow: 0 0 1000px rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.react-page-cell {
  position: relative;
}

.react-page-cell-bring-to-front {
  z-index: 1;
}

.react-page-cell-resizing-overlay:after {
  content: ' ';
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
