/* based on: https://github.com/kristoferjoseph/flexboxgrid/blob/master/src/css/flexboxgrid.css */

:root {
  --gutter-width: 0rem;
  --outer-margin: 0rem;
  --gutter-compensation: calc((var(--gutter-width) * 0.5) * -1);
  --half-gutter-width: calc((var(--gutter-width) * 0.5));
  --xs-min: 30;
  --sm-min: 48;
  --md-min: 64;
  --lg-min: 75;
  --screen-xs-min: var(--xs-min) em;
  --screen-sm-min: var(--sm-min) em;
  --screen-md-min: var(--md-min) em;
  --screen-lg-min: var(--lg-min) em;
  --container-sm: calc(var(--sm-min) + var(--gutter-width));
  --container-md: calc(var(--md-min) + var(--gutter-width));
  --container-lg: calc(var(--lg-min) + var(--gutter-width));
}

@custom-media --sm-viewport only screen and (min-width: 48em);
@custom-media --md-viewport only screen and (min-width: 64em);
@custom-media --lg-viewport only screen and (min-width: 75em);

.react-page-editable {
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--outer-margin, 2rem);
  padding-left: var(--outer-margin, 2rem);
}

.react-page-row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: var(--gutter-compensation, -0.5rem);
  margin-left: var(--gutter-compensation, -0.5rem);
  position: relative;
}

.react-page-cell-xs,
.react-page-cell-xs-1,
.react-page-cell-xs-2,
.react-page-cell-xs-3,
.react-page-cell-xs-4,
.react-page-cell-xs-5,
.react-page-cell-xs-6,
.react-page-cell-xs-7,
.react-page-cell-xs-8,
.react-page-cell-xs-9,
.react-page-cell-xs-10,
.react-page-cell-xs-11,
.react-page-cell-xs-12,
.react-page-cell-xs-offset-0,
.react-page-cell-xs-offset-1,
.react-page-cell-xs-offset-2,
.react-page-cell-xs-offset-3,
.react-page-cell-xs-offset-4,
.react-page-cell-xs-offset-5,
.react-page-cell-xs-offset-6,
.react-page-cell-xs-offset-7,
.react-page-cell-xs-offset-8,
.react-page-cell-xs-offset-9,
.react-page-cell-xs-offset-10,
.react-page-cell-xs-offset-11,
.react-page-cell-xs-offset-12 {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: var(--half-gutter-width, 0.5rem);
  padding-left: var(--half-gutter-width, 0.5rem);
  min-width: 0;
}

.react-page-cell-xs {
  flex-grow: 1;
  flex-basis: 0;
  width: 100%;
  min-width: 100%;
}

.react-page-cell-xs-1 {
  flex-basis: 8.33333333%;
  width: 8.33333333%;
}

.react-page-cell-xs-2 {
  flex-basis: 16.66666667%;
  width: 16.66666667%;
}

.react-page-cell-xs-3 {
  flex-basis: 25%;
  width: 25%;
  min-width: 25%;
}

.react-page-cell-xs-4 {
  flex-basis: 33.33333333%;
  width: 33.33333333%;
}

.react-page-cell-xs-5 {
  flex-basis: 41.66666667%;
  width: 41.66666667%;
}

.react-page-cell-xs-6 {
  flex-basis: 50%;
  width: 50%;
  min-width: 50%;
}

.react-page-cell-xs-7 {
  flex-basis: 58.33333333%;
  width: 58.33333333%;
}

.react-page-cell-xs-8 {
  flex-basis: 66.66666667%;
  width: 66.66666667%;
}

.react-page-cell-xs-9 {
  flex-basis: 75%;
  width: 75%;
  min-width: 75%;
}

.react-page-cell-xs-10 {
  flex-basis: 83.33333333%;
  width: 83.33333333%;
}

.react-page-cell-xs-11 {
  flex-basis: 91.66666667%;
  width: 91.66666667%;
}

.react-page-cell-xs-12 {
  flex-basis: 100%;
  width: 100%;
  min-width: 100%;
}

.react-page-cell-xs-offset-0 {
  margin-left: 0;
}

.react-page-cell-xs-offset-1 {
  margin-left: 8.33333333%;
}

.react-page-cell-xs-offset-2 {
  margin-left: 16.66666667%;
}

.react-page-cell-xs-offset-3 {
  margin-left: 25%;
}

.react-page-cell-xs-offset-4 {
  margin-left: 33.33333333%;
}

.react-page-cell-xs-offset-5 {
  margin-left: 41.66666667%;
}

.react-page-cell-xs-offset-6 {
  margin-left: 50%;
}

.react-page-cell-xs-offset-7 {
  margin-left: 58.33333333%;
}

.react-page-cell-xs-offset-8 {
  margin-left: 66.66666667%;
}

.react-page-cell-xs-offset-9 {
  margin-left: 75%;
}

.react-page-cell-xs-offset-10 {
  margin-left: 83.33333333%;
}

.react-page-cell-xs-offset-11 {
  margin-left: 91.66666667%;
}

.start-xs {
  justify-content: flex-start;
  text-align: start;
}

.center-xs {
  justify-content: center;
  text-align: center;
}

.end-xs {
  justify-content: flex-end;
  text-align: end;
}

.top-xs {
  align-items: flex-start;
}

.middle-xs {
  align-items: center;
}

.bottom-xs {
  align-items: flex-end;
}

.around-xs {
  justify-content: space-around;
}

.between-xs {
  justify-content: space-between;
}

.first-xs {
  order: -1;
}

.last-xs {
  order: 1;
}

@media (--sm-viewport) {
  .react-page-cell-sm,
  .react-page-cell-sm-1,
  .react-page-cell-sm-2,
  .react-page-cell-sm-3,
  .react-page-cell-sm-4,
  .react-page-cell-sm-5,
  .react-page-cell-sm-6,
  .react-page-cell-sm-7,
  .react-page-cell-sm-8,
  .react-page-cell-sm-9,
  .react-page-cell-sm-10,
  .react-page-cell-sm-11,
  .react-page-cell-sm-12,
  .react-page-cell-sm-offset-0,
  .react-page-cell-sm-offset-1,
  .react-page-cell-sm-offset-2,
  .react-page-cell-sm-offset-3,
  .react-page-cell-sm-offset-4,
  .react-page-cell-sm-offset-5,
  .react-page-cell-sm-offset-6,
  .react-page-cell-sm-offset-7,
  .react-page-cell-sm-offset-8,
  .react-page-cell-sm-offset-9,
  .react-page-cell-sm-offset-10,
  .react-page-cell-sm-offset-11,
  .react-page-cell-sm-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: var(--half-gutter-width, 0.5rem);
    padding-left: var(--half-gutter-width, 0.5rem);
    min-width: 0;
  }

  .react-page-cell-sm {
    flex-grow: 1;
    flex-basis: 0;
    width: 100%;
    min-width: 100%;
  }

  .react-page-cell-sm-1 {
    flex-basis: 8.33333333%;
    width: 8.33333333%;
  }

  .react-page-cell-sm-2 {
    flex-basis: 16.66666667%;
    width: 16.66666667%;
  }

  .react-page-cell-sm-3 {
    flex-basis: 25%;
    width: 25%;
    min-width: 25%;
  }

  .react-page-cell-sm-4 {
    flex-basis: 33.33333333%;
    width: 33.33333333%;
  }

  .react-page-cell-sm-5 {
    flex-basis: 41.66666667%;
    width: 41.66666667%;
  }

  .react-page-cell-sm-6 {
    flex-basis: 50%;
    width: 50%;
    min-width: 50%;
  }

  .react-page-cell-sm-7 {
    flex-basis: 58.33333333%;
    width: 58.33333333%;
  }

  .react-page-cell-sm-8 {
    flex-basis: 66.66666667%;
    width: 66.66666667%;
  }

  .react-page-cell-sm-9 {
    flex-basis: 75%;
    width: 75%;
    min-width: 75%;
  }

  .react-page-cell-sm-10 {
    flex-basis: 83.33333333%;
    width: 83.33333333%;
  }

  .react-page-cell-sm-11 {
    flex-basis: 91.66666667%;
    width: 91.66666667%;
  }

  .react-page-cell-sm-12 {
    flex-basis: 100%;
    width: 100%;
    min-width: 100%;
  }

  .react-page-cell-sm-offset-0 {
    margin-left: 0;
  }

  .react-page-cell-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .react-page-cell-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .react-page-cell-sm-offset-3 {
    margin-left: 25%;
  }

  .react-page-cell-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .react-page-cell-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .react-page-cell-sm-offset-6 {
    margin-left: 50%;
  }

  .react-page-cell-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .react-page-cell-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .react-page-cell-sm-offset-9 {
    margin-left: 75%;
  }

  .react-page-cell-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .react-page-cell-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-sm {
    justify-content: flex-start;
    text-align: start;
  }

  .center-sm {
    justify-content: center;
    text-align: center;
  }

  .end-sm {
    justify-content: flex-end;
    text-align: end;
  }

  .top-sm {
    align-items: flex-start;
  }

  .middle-sm {
    align-items: center;
  }

  .bottom-sm {
    align-items: flex-end;
  }

  .around-sm {
    justify-content: space-around;
  }

  .between-sm {
    justify-content: space-between;
  }

  .first-sm {
    order: -1;
  }

  .last-sm {
    order: 1;
  }
}

@media (--md-viewport) {
  .react-page-cell-md,
  .react-page-cell-md-1,
  .react-page-cell-md-2,
  .react-page-cell-md-3,
  .react-page-cell-md-4,
  .react-page-cell-md-5,
  .react-page-cell-md-6,
  .react-page-cell-md-7,
  .react-page-cell-md-8,
  .react-page-cell-md-9,
  .react-page-cell-md-10,
  .react-page-cell-md-11,
  .react-page-cell-md-12,
  .react-page-cell-md-offset-0,
  .react-page-cell-md-offset-1,
  .react-page-cell-md-offset-2,
  .react-page-cell-md-offset-3,
  .react-page-cell-md-offset-4,
  .react-page-cell-md-offset-5,
  .react-page-cell-md-offset-6,
  .react-page-cell-md-offset-7,
  .react-page-cell-md-offset-8,
  .react-page-cell-md-offset-9,
  .react-page-cell-md-offset-10,
  .react-page-cell-md-offset-11,
  .react-page-cell-md-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: var(--half-gutter-width, 0.5rem);
    padding-left: var(--half-gutter-width, 0.5rem);
    min-width: 0;
  }

  .react-page-cell-md {
    flex-grow: 1;
    flex-basis: 0;
    width: 100%;
    min-width: 100%;
  }

  .react-page-cell-md-1 {
    flex-basis: 8.33333333%;
    width: 8.33333333%;
  }

  .react-page-cell-md-2 {
    flex-basis: 16.66666667%;
    width: 16.66666667%;
  }

  .react-page-cell-md-3 {
    flex-basis: 25%;
    width: 25%;
    min-width: 25%;
  }

  .react-page-cell-md-4 {
    flex-basis: 33.33333333%;
    width: 33.33333333%;
  }

  .react-page-cell-md-5 {
    flex-basis: 41.66666667%;
    width: 41.66666667%;
  }

  .react-page-cell-md-6 {
    flex-basis: 50%;
    width: 50%;
    min-width: 50%;
  }

  .react-page-cell-md-7 {
    flex-basis: 58.33333333%;
    width: 58.33333333%;
  }

  .react-page-cell-md-8 {
    flex-basis: 66.66666667%;
    width: 66.66666667%;
  }

  .react-page-cell-md-9 {
    flex-basis: 75%;
    width: 75%;
    min-width: 75%;
  }

  .react-page-cell-md-10 {
    flex-basis: 83.33333333%;
    width: 83.33333333%;
  }

  .react-page-cell-md-11 {
    flex-basis: 91.66666667%;
    width: 91.66666667%;
  }

  .react-page-cell-md-12 {
    flex-basis: 100%;
    width: 100%;
    min-width: 100%;
  }

  .react-page-cell-md-offset-0 {
    margin-left: 0;
  }

  .react-page-cell-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .react-page-cell-md-offset-2 {
    margin-left: 16.66666667%;
  }

  .react-page-cell-md-offset-3 {
    margin-left: 25%;
  }

  .react-page-cell-md-offset-4 {
    margin-left: 33.33333333%;
  }

  .react-page-cell-md-offset-5 {
    margin-left: 41.66666667%;
  }

  .react-page-cell-md-offset-6 {
    margin-left: 50%;
  }

  .react-page-cell-md-offset-7 {
    margin-left: 58.33333333%;
  }

  .react-page-cell-md-offset-8 {
    margin-left: 66.66666667%;
  }

  .react-page-cell-md-offset-9 {
    margin-left: 75%;
  }

  .react-page-cell-md-offset-10 {
    margin-left: 83.33333333%;
  }

  .react-page-cell-md-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-md {
    justify-content: flex-start;
    text-align: start;
  }

  .center-md {
    justify-content: center;
    text-align: center;
  }

  .end-md {
    justify-content: flex-end;
    text-align: end;
  }

  .top-md {
    align-items: flex-start;
  }

  .middle-md {
    align-items: center;
  }

  .bottom-md {
    align-items: flex-end;
  }

  .around-md {
    justify-content: space-around;
  }

  .between-md {
    justify-content: space-between;
  }

  .first-md {
    order: -1;
  }

  .last-md {
    order: 1;
  }
}

@media (--lg-viewport) {
  .react-page-cell-lg,
  .react-page-cell-lg-1,
  .react-page-cell-lg-2,
  .react-page-cell-lg-3,
  .react-page-cell-lg-4,
  .react-page-cell-lg-5,
  .react-page-cell-lg-6,
  .react-page-cell-lg-7,
  .react-page-cell-lg-8,
  .react-page-cell-lg-9,
  .react-page-cell-lg-10,
  .react-page-cell-lg-11,
  .react-page-cell-lg-12,
  .react-page-cell-lg-offset-0,
  .react-page-cell-lg-offset-1,
  .react-page-cell-lg-offset-2,
  .react-page-cell-lg-offset-3,
  .react-page-cell-lg-offset-4,
  .react-page-cell-lg-offset-5,
  .react-page-cell-lg-offset-6,
  .react-page-cell-lg-offset-7,
  .react-page-cell-lg-offset-8,
  .react-page-cell-lg-offset-9,
  .react-page-cell-lg-offset-10,
  .react-page-cell-lg-offset-11,
  .react-page-cell-lg-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: var(--half-gutter-width, 0.5rem);
    padding-left: var(--half-gutter-width, 0.5rem);
    min-width: 0;
  }

  .react-page-cell-lg {
    flex-grow: 1;
    flex-basis: 0;
    width: 100%;
    min-width: 100%;
  }

  .react-page-cell-lg-1 {
    flex-basis: 8.33333333%;
    width: 8.33333333%;
  }

  .react-page-cell-lg-2 {
    flex-basis: 16.66666667%;
    width: 16.66666667%;
  }

  .react-page-cell-lg-3 {
    flex-basis: 25%;
    width: 25%;
    min-width: 25%;
  }

  .react-page-cell-lg-4 {
    flex-basis: 33.33333333%;
    width: 33.33333333%;
  }

  .react-page-cell-lg-5 {
    flex-basis: 41.66666667%;
    width: 41.66666667%;
  }

  .react-page-cell-lg-6 {
    flex-basis: 50%;
    width: 50%;
    min-width: 50%;
  }

  .react-page-cell-lg-7 {
    flex-basis: 58.33333333%;
    width: 58.33333333%;
  }

  .react-page-cell-lg-8 {
    flex-basis: 66.66666667%;
    width: 66.66666667%;
  }

  .react-page-cell-lg-9 {
    flex-basis: 75%;
    width: 75%;
    min-width: 75%;
  }

  .react-page-cell-lg-10 {
    flex-basis: 83.33333333%;
    width: 83.33333333%;
  }

  .react-page-cell-lg-11 {
    flex-basis: 91.66666667%;
    width: 91.66666667%;
  }

  .react-page-cell-lg-12 {
    flex-basis: 100%;
    width: 100%;
    min-width: 100%;
  }

  .react-page-cell-lg-offset-0 {
    margin-left: 0;
  }

  .react-page-cell-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  .react-page-cell-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  .react-page-cell-lg-offset-3 {
    margin-left: 25%;
  }

  .react-page-cell-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  .react-page-cell-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  .react-page-cell-lg-offset-6 {
    margin-left: 50%;
  }

  .react-page-cell-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  .react-page-cell-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  .react-page-cell-lg-offset-9 {
    margin-left: 75%;
  }

  .react-page-cell-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  .react-page-cell-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-lg {
    justify-content: flex-start;
    text-align: start;
  }

  .center-lg {
    justify-content: center;
    text-align: center;
  }

  .end-lg {
    justify-content: flex-end;
    text-align: end;
  }

  .top-lg {
    align-items: flex-start;
  }

  .middle-lg {
    align-items: center;
  }

  .bottom-lg {
    align-items: flex-end;
  }

  .around-lg {
    justify-content: space-around;
  }

  .between-lg {
    justify-content: space-between;
  }

  .first-lg {
    order: -1;
  }

  .last-lg {
    order: 1;
  }
}
