.ory-cell-focused {
  box-shadow: 0 0 5px rgb(81, 203, 238);
  outline: 1px solid rgb(81, 203, 238);
}

.ory-cell-inline-left {
  float: left;
}

.ory-cell-inline-right {
  float: right;
}

.ory-cell-has-inline-neighbour {
  float: none;
  width: 100%;
}

.ory-cell-bring-to-front {
  z-index: 1;
}

.ory-cell {
  position: relative;
}
