.controls {
  position: fixed;
  z-index: 100;
  bottom: 0;
  right: 0;
  padding: 16px;
}

.controls-right > * {
  float: right;
  margin: 8px;
}

.controls-bottom {
  clear: both;
}

.controls-bottom  > * {
  margin: 8px;
}
