.idea
.vscode
logs
*.log
*.log.*
node_modules/
doc/
_book/
coverage/
lib/
lib-es/
dist/
examples/build
*.tsbuildinfo
.DS_store

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
