.force-block {
  display: block !important;
}

.is-over-current:before {
  content: " ";
  transition: opacity 400ms ease;
  background: black;
  opacity: 0;
  display: block;
  position: absolute;
  z-index: 100;
}

.is-over-above:before {
  opacity: 1;
  top: 0;
  height: 2px;
  width: 100%;
}

.is-over-below:before {
  opacity: 1;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.is-over-left-of:before {
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  width: 2px;
}

.is-over-right-of:before {
  opacity: 1;
  top: 0;
  right: 0;
  bottom: 0;
  width: 2px;
}
