.clearfix,
.clearfix:before,
.clearfix:after {
  content: " ";
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}
