@-ms-viewport {
  width: device-width;
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}

@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}

@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}

.visible-print {
  display: none !important;
}

@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}

.visible-print-block {
  display: none !important;
}

@media print {
  .visible-print-block {
    display: block !important;
  }
}

.visible-print-inline {
  display: none !important;
}

@media print {
  .visible-print-inline {
    display: inline !important;
  }
}

.visible-print-inline-block {
  display: none !important;
}

@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}

@media print {
  .hidden-print {
    display: none !important;
  }
}

.row {
  // margin-left: -15px;
  // margin-right: -15px;
}

.cell, .cell-xs-1, .cell-sm-1, .cell-md-1, .cell-lg-1, .cell-xs-2, .cell-sm-2, .cell-md-2, .cell-lg-2, .cell-xs-3, .cell-sm-3, .cell-md-3, .cell-lg-3, .cell-xs-4, .cell-sm-4, .cell-md-4, .cell-lg-4, .cell-xs-5, .cell-sm-5, .cell-md-5, .cell-lg-5, .cell-xs-6, .cell-sm-6, .cell-md-6, .cell-lg-6, .cell-xs-7, .cell-sm-7, .cell-md-7, .cell-lg-7, .cell-xs-8, .cell-sm-8, .cell-md-8, .cell-lg-8, .cell-xs-9, .cell-sm-9, .cell-md-9, .cell-lg-9, .cell-xs-10, .cell-sm-10, .cell-md-10, .cell-lg-10, .cell-xs-11, .cell-sm-11, .cell-md-11, .cell-lg-11, .cell-xs-12, .cell-sm-12, .cell-md-12, .cell-lg-12 {
  position: relative;
  min-height: 1px;
  // padding-left: 15px;
  // padding-right: 15px;
}

.cell, .cell-xs-1, .cell-xs-2, .cell-xs-3, .cell-xs-4, .cell-xs-5, .cell-xs-6, .cell-xs-7, .cell-xs-8, .cell-xs-9, .cell-xs-10, .cell-xs-11, .cell-xs-12 {
  float: left;
}

.cell-xs-12 {
  width: 100%;
}

.cell-xs-11 {
  width: 91.66666667%;
}

.cell-xs-10 {
  width: 83.33333333%;
}

.cell-xs-9 {
  width: 75%;
}

.cell-xs-8 {
  width: 66.66666667%;
}

.cell-xs-7 {
  width: 58.33333333%;
}

.cell-xs-6 {
  width: 50%;
}

.cell-xs-5 {
  width: 41.66666667%;
}

.cell-xs-4 {
  width: 33.33333333%;
}

.cell-xs-3 {
  width: 25%;
}

.cell-xs-2 {
  width: 16.66666667%;
}

.cell-xs-1 {
  width: 8.33333333%;
}

.cell-xs-pull-12 {
  right: 100%;
}

.cell-xs-pull-11 {
  right: 91.66666667%;
}

.cell-xs-pull-10 {
  right: 83.33333333%;
}

.cell-xs-pull-9 {
  right: 75%;
}

.cell-xs-pull-8 {
  right: 66.66666667%;
}

.cell-xs-pull-7 {
  right: 58.33333333%;
}

.cell-xs-pull-6 {
  right: 50%;
}

.cell-xs-pull-5 {
  right: 41.66666667%;
}

.cell-xs-pull-4 {
  right: 33.33333333%;
}

.cell-xs-pull-3 {
  right: 25%;
}

.cell-xs-pull-2 {
  right: 16.66666667%;
}

.cell-xs-pull-1 {
  right: 8.33333333%;
}

.cell-xs-pull-0 {
  right: auto;
}

.cell-xs-push-12 {
  left: 100%;
}

.cell-xs-push-11 {
  left: 91.66666667%;
}

.cell-xs-push-10 {
  left: 83.33333333%;
}

.cell-xs-push-9 {
  left: 75%;
}

.cell-xs-push-8 {
  left: 66.66666667%;
}

.cell-xs-push-7 {
  left: 58.33333333%;
}

.cell-xs-push-6 {
  left: 50%;
}

.cell-xs-push-5 {
  left: 41.66666667%;
}

.cell-xs-push-4 {
  left: 33.33333333%;
}

.cell-xs-push-3 {
  left: 25%;
}

.cell-xs-push-2 {
  left: 16.66666667%;
}

.cell-xs-push-1 {
  left: 8.33333333%;
}

.cell-xs-push-0 {
  left: auto;
}

.cell-xs-offset-12 {
  margin-left: 100%;
}

.cell-xs-offset-11 {
  margin-left: 91.66666667%;
}

.cell-xs-offset-10 {
  margin-left: 83.33333333%;
}

.cell-xs-offset-9 {
  margin-left: 75%;
}

.cell-xs-offset-8 {
  margin-left: 66.66666667%;
}

.cell-xs-offset-7 {
  margin-left: 58.33333333%;
}

.cell-xs-offset-6 {
  margin-left: 50%;
}

.cell-xs-offset-5 {
  margin-left: 41.66666667%;
}

.cell-xs-offset-4 {
  margin-left: 33.33333333%;
}

.cell-xs-offset-3 {
  margin-left: 25%;
}

.cell-xs-offset-2 {
  margin-left: 16.66666667%;
}

.cell-xs-offset-1 {
  margin-left: 8.33333333%;
}

.cell-xs-offset-0 {
  margin-left: 0%;
}

@media (min-width: 768px) {
  .cell, .cell-sm-1, .cell-sm-2, .cell-sm-3, .cell-sm-4, .cell-sm-5, .cell-sm-6, .cell-sm-7, .cell-sm-8, .cell-sm-9, .cell-sm-10, .cell-sm-11, .cell-sm-12 {
    float: left;
  }
  .cell-sm-12 {
    width: 100%;
  }
  .cell-sm-11 {
    width: 91.66666667%;
  }
  .cell-sm-10 {
    width: 83.33333333%;
  }
  .cell-sm-9 {
    width: 75%;
  }
  .cell-sm-8 {
    width: 66.66666667%;
  }
  .cell-sm-7 {
    width: 58.33333333%;
  }
  .cell-sm-6 {
    width: 50%;
  }
  .cell-sm-5 {
    width: 41.66666667%;
  }
  .cell-sm-4 {
    width: 33.33333333%;
  }
  .cell-sm-3 {
    width: 25%;
  }
  .cell-sm-2 {
    width: 16.66666667%;
  }
  .cell-sm-1 {
    width: 8.33333333%;
  }
  .cell-sm-pull-12 {
    right: 100%;
  }
  .cell-sm-pull-11 {
    right: 91.66666667%;
  }
  .cell-sm-pull-10 {
    right: 83.33333333%;
  }
  .cell-sm-pull-9 {
    right: 75%;
  }
  .cell-sm-pull-8 {
    right: 66.66666667%;
  }
  .cell-sm-pull-7 {
    right: 58.33333333%;
  }
  .cell-sm-pull-6 {
    right: 50%;
  }
  .cell-sm-pull-5 {
    right: 41.66666667%;
  }
  .cell-sm-pull-4 {
    right: 33.33333333%;
  }
  .cell-sm-pull-3 {
    right: 25%;
  }
  .cell-sm-pull-2 {
    right: 16.66666667%;
  }
  .cell-sm-pull-1 {
    right: 8.33333333%;
  }
  .cell-sm-pull-0 {
    right: auto;
  }
  .cell-sm-push-12 {
    left: 100%;
  }
  .cell-sm-push-11 {
    left: 91.66666667%;
  }
  .cell-sm-push-10 {
    left: 83.33333333%;
  }
  .cell-sm-push-9 {
    left: 75%;
  }
  .cell-sm-push-8 {
    left: 66.66666667%;
  }
  .cell-sm-push-7 {
    left: 58.33333333%;
  }
  .cell-sm-push-6 {
    left: 50%;
  }
  .cell-sm-push-5 {
    left: 41.66666667%;
  }
  .cell-sm-push-4 {
    left: 33.33333333%;
  }
  .cell-sm-push-3 {
    left: 25%;
  }
  .cell-sm-push-2 {
    left: 16.66666667%;
  }
  .cell-sm-push-1 {
    left: 8.33333333%;
  }
  .cell-sm-push-0 {
    left: auto;
  }
  .cell-sm-offset-12 {
    margin-left: 100%;
  }
  .cell-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .cell-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .cell-sm-offset-9 {
    margin-left: 75%;
  }
  .cell-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .cell-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .cell-sm-offset-6 {
    margin-left: 50%;
  }
  .cell-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .cell-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .cell-sm-offset-3 {
    margin-left: 25%;
  }
  .cell-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .cell-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .cell-sm-offset-0 {
    margin-left: 0%;
  }
}

@media (min-width: 992px) {
  .cell, .cell-md-1, .cell-md-2, .cell-md-3, .cell-md-4, .cell-md-5, .cell-md-6, .cell-md-7, .cell-md-8, .cell-md-9, .cell-md-10, .cell-md-11, .cell-md-12 {
    float: left;
  }
  .cell-md-12 {
    width: 100%;
  }
  .cell-md-11 {
    width: 91.66666667%;
  }
  .cell-md-10 {
    width: 83.33333333%;
  }
  .cell-md-9 {
    width: 75%;
  }
  .cell-md-8 {
    width: 66.66666667%;
  }
  .cell-md-7 {
    width: 58.33333333%;
  }
  .cell-md-6 {
    width: 50%;
  }
  .cell-md-5 {
    width: 41.66666667%;
  }
  .cell-md-4 {
    width: 33.33333333%;
  }
  .cell-md-3 {
    width: 25%;
  }
  .cell-md-2 {
    width: 16.66666667%;
  }
  .cell-md-1 {
    width: 8.33333333%;
  }
  .cell-md-pull-12 {
    right: 100%;
  }
  .cell-md-pull-11 {
    right: 91.66666667%;
  }
  .cell-md-pull-10 {
    right: 83.33333333%;
  }
  .cell-md-pull-9 {
    right: 75%;
  }
  .cell-md-pull-8 {
    right: 66.66666667%;
  }
  .cell-md-pull-7 {
    right: 58.33333333%;
  }
  .cell-md-pull-6 {
    right: 50%;
  }
  .cell-md-pull-5 {
    right: 41.66666667%;
  }
  .cell-md-pull-4 {
    right: 33.33333333%;
  }
  .cell-md-pull-3 {
    right: 25%;
  }
  .cell-md-pull-2 {
    right: 16.66666667%;
  }
  .cell-md-pull-1 {
    right: 8.33333333%;
  }
  .cell-md-pull-0 {
    right: auto;
  }
  .cell-md-push-12 {
    left: 100%;
  }
  .cell-md-push-11 {
    left: 91.66666667%;
  }
  .cell-md-push-10 {
    left: 83.33333333%;
  }
  .cell-md-push-9 {
    left: 75%;
  }
  .cell-md-push-8 {
    left: 66.66666667%;
  }
  .cell-md-push-7 {
    left: 58.33333333%;
  }
  .cell-md-push-6 {
    left: 50%;
  }
  .cell-md-push-5 {
    left: 41.66666667%;
  }
  .cell-md-push-4 {
    left: 33.33333333%;
  }
  .cell-md-push-3 {
    left: 25%;
  }
  .cell-md-push-2 {
    left: 16.66666667%;
  }
  .cell-md-push-1 {
    left: 8.33333333%;
  }
  .cell-md-push-0 {
    left: auto;
  }
  .cell-md-offset-12 {
    margin-left: 100%;
  }
  .cell-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .cell-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .cell-md-offset-9 {
    margin-left: 75%;
  }
  .cell-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .cell-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .cell-md-offset-6 {
    margin-left: 50%;
  }
  .cell-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .cell-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .cell-md-offset-3 {
    margin-left: 25%;
  }
  .cell-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .cell-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .cell-md-offset-0 {
    margin-left: 0%;
  }
}

@media (min-width: 1200px) {
  .cell, .cell-lg-1, .cell-lg-2, .cell-lg-3, .cell-lg-4, .cell-lg-5, .cell-lg-6, .cell-lg-7, .cell-lg-8, .cell-lg-9, .cell-lg-10, .cell-lg-11, .cell-lg-12 {
    float: left;
  }
  .cell-lg-12 {
    width: 100%;
  }
  .cell-lg-11 {
    width: 91.66666667%;
  }
  .cell-lg-10 {
    width: 83.33333333%;
  }
  .cell-lg-9 {
    width: 75%;
  }
  .cell-lg-8 {
    width: 66.66666667%;
  }
  .cell-lg-7 {
    width: 58.33333333%;
  }
  .cell-lg-6 {
    width: 50%;
  }
  .cell-lg-5 {
    width: 41.66666667%;
  }
  .cell-lg-4 {
    width: 33.33333333%;
  }
  .cell-lg-3 {
    width: 25%;
  }
  .cell-lg-2 {
    width: 16.66666667%;
  }
  .cell-lg-1 {
    width: 8.33333333%;
  }
  .cell-lg-pull-12 {
    right: 100%;
  }
  .cell-lg-pull-11 {
    right: 91.66666667%;
  }
  .cell-lg-pull-10 {
    right: 83.33333333%;
  }
  .cell-lg-pull-9 {
    right: 75%;
  }
  .cell-lg-pull-8 {
    right: 66.66666667%;
  }
  .cell-lg-pull-7 {
    right: 58.33333333%;
  }
  .cell-lg-pull-6 {
    right: 50%;
  }
  .cell-lg-pull-5 {
    right: 41.66666667%;
  }
  .cell-lg-pull-4 {
    right: 33.33333333%;
  }
  .cell-lg-pull-3 {
    right: 25%;
  }
  .cell-lg-pull-2 {
    right: 16.66666667%;
  }
  .cell-lg-pull-1 {
    right: 8.33333333%;
  }
  .cell-lg-pull-0 {
    right: auto;
  }
  .cell-lg-push-12 {
    left: 100%;
  }
  .cell-lg-push-11 {
    left: 91.66666667%;
  }
  .cell-lg-push-10 {
    left: 83.33333333%;
  }
  .cell-lg-push-9 {
    left: 75%;
  }
  .cell-lg-push-8 {
    left: 66.66666667%;
  }
  .cell-lg-push-7 {
    left: 58.33333333%;
  }
  .cell-lg-push-6 {
    left: 50%;
  }
  .cell-lg-push-5 {
    left: 41.66666667%;
  }
  .cell-lg-push-4 {
    left: 33.33333333%;
  }
  .cell-lg-push-3 {
    left: 25%;
  }
  .cell-lg-push-2 {
    left: 16.66666667%;
  }
  .cell-lg-push-1 {
    left: 8.33333333%;
  }
  .cell-lg-push-0 {
    left: auto;
  }
  .cell-lg-offset-12 {
    margin-left: 100%;
  }
  .cell-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .cell-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .cell-lg-offset-9 {
    margin-left: 75%;
  }
  .cell-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .cell-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .cell-lg-offset-6 {
    margin-left: 50%;
  }
  .cell-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .cell-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .cell-lg-offset-3 {
    margin-left: 25%;
  }
  .cell-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .cell-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .cell-lg-offset-0 {
    margin-left: 0%;
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
