.draggable {
  cursor: move;
  position: relative;
  height: 100%;
  transition: opacity 200ms ease;
}

.draggable:hover {
  outline: 2px solid #aaa;
}

.is-dragging {
  opacity: 0.4;
  outline: none;
}

.is-over-current:before {}
