.draggable {
  cursor: move;
  position: relative;
  height: 100%;
  transition: opacity 200ms ease;
  /* resolves an issue with darg and dorp preview in chrome, see https://github.com/ory-am/editor/issues/180 */
  will-change: transform;
}

.draggable-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  cursor: move;
  transition: all ease .2s;
  outline: 0 solid rgba(0, 0, 0, 0);
}

.draggable-overlay:hover {
  filter: sepia(0.7);
  background: rgba(0,0,0,.1);
  outline: 1px solid rgba(0, 0, 0, .2);
  background-blend-mode: screen;
}

.draggable-overlay.leaf {
  z-index: 2;
}

.draggable > * {
  will-change: auto;
}

.is-dragging {
  opacity: 0.4;
  outline: none;
}

.is-over-current:before {
  content: " ";
  display: block;
  position: absolute;
  z-index: 100;
  background: rgba(0, 0, 0, .2);
  outline: 1px solid rgba(0, 0, 0, .3);
}

.is-over-above:before {
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 36%;
}

.is-over-below:before {
  opacity: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 36%;
}

.is-over-left-of:before {
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  width: 36%;
}

.is-over-right-of:before {
  opacity: 1;
  top: 0;
  right: 0;
  bottom: 0;
  width: 36%;
}

.is-over-inline-left:before {
  top: 0;
  left: 0;
  width: 50%;
  height: 36%;
}

.is-over-inline-right:before {
  top: 0;
  right: 0;
  width: 50%;
  height: 36%;
}
