
$color-primary: #4AF4BD;

$text-color-primary: #ffffff;
$text-color-inverted: #000000;

$editable-outline: 1px solid rgba($color-primary, 0.3);
$editable-active-outline: 1px solid rgba($color-primary, 0.8);
$editable-background-color: rgba($color-primary, 0.3);

$toolbar-border-color: rgba(0,0,0,0.8);
$toolbar-lower-color: rgba(0,0,0,0.95);
$toolbar-upper-color: rgba(0,0,0,0.95);

$toolbar-button-color: black;
$toolbar-button-missing-color: lighten($toolbar-button-color, 10%);
$toolbar-button-active-color: lighten(black, 10%);

$toolbar-text-color: $text-color-primary;
$toolbar-text-active-color: darken($text-color-primary, 35%);

$border-radius-normal: 5px;
