.editable h2 {
  font-family: "futura-pt";
  font-size: 24px;
  line-height: 1.2em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .015em;
  font-weight: 700;
  font-style: normal;
}

.editable h3 {
  font-family: "proxima-nova";
  font-size: 22px;
  line-height: 1.8em;
  text-transform: none;
  text-decoration: none;
  letter-spacing: .015em;
  font-weight: 300;
  font-style: normal;
}

.editable p {
  font-family: "proxima-nova";
  font-size: 18px;
  line-height: 1.8em;
  letter-spacing: .015em;
  font-weight: 300;
  font-style: normal;
  color: #707070;
}

.editable h1, .editable h2, .editable h3 {
  margin: 1em 0 .5em;
  color: #333;
}


.header-title-background {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 381px;
  /* filter: sepia(19%); */
}

.header-title-video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100% !important;
  overflow: hidden;
}

.background-video {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  z-index: -100;
  /* background: url(polina.jpg) no-repeat; */
  /* background-size: cover; */
  /* background: url(polina.jpg) no-repeat; */
  background-size: cover;
}

.background-video-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-color: rgba(46,46,46,.3);
  transform: translatez(0);
  -webkit-transform: translatez(0);
}

.navbar {
  margin-bottom: 0;
}

.navbar .navbar-right a {
  font-family: "proxima-nova";
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .1em;
  font-weight: 500;
  font-style: normal;
  line-height: 2em;
  color: white;
}

.navbar a:hover, .navbar a:active {
  color: rgba(255,255,255,.7);
}

.navbar .navbar-brand {
  font-family: "futura-pt";
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .1em;
  font-weight: 700;
  font-style: normal;
  margin: 0;
  padding: 0;
  width: 30%;
  line-height: 1em;
  position: relative;
  height: auto;
  color: white;
}

.header-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header-title {
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 80px 0;
  color: white;
}

.header-title h1 {
  font-family: "futura-pt";
  font-size: 82px;
  line-height: 1em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .015em;
  font-weight: 700;
  font-style: normal;
  color: #fff;
  margin: 0;
  padding: 0;
}

.header-title p {
  font-family: "proxima-nova";
  font-size: 24px;
  line-height: 1.6em;
  color: #fff;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
  font-weight: 300;
  font-style: normal;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  position: relative;
  z-index: inherit;
  margin: 25px 0 0;
}

.navbar-wrapper {
  padding: 25px 80px;
  margin: 0 auto;
}

.navbar-nav a {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.navbar-nav a:focus, .navbar-nav a:hover {
  background-color: transparent !important;
}

.container {
  padding: 100px 0;
}

.ory-cell-leaf {
  padding: 16px 34px;
}

#footer {
  width: 100%;
  background-color: #3c342f;
  position: relative;
}

.footer-wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 80px 0;
}

.footer-wrapper p {
  color: white;
  font-family: "proxima-nova";
  font-size: 18px;
  line-height: 1.8em;
  letter-spacing: .015em;
  font-weight: 300;
  font-style: normal;
}

ol, ul {
  color: rgb(112, 112, 112);
  cursor: text;
  font-family: "proxima-nova";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.266667px;
  line-height: 32.4px;
  margin-bottom: 0px;
  overflow-wrap: break-word;
}
