.resizable {
  position: relative;
  height: 100%;
}

.inline-left {
  composes: resizable;
}

.inline-right {
  composes: resizable;
}

:global .resizable-cell > .react-resizable-handle {
  position: absolute;
  z-index: 2;
  width: 4px;
  top: 0;
  bottom: 0;
  right: -2px;
  cursor: e-resize;
}

.inline-right :global .react-resizable-handle {
  left: -4px;
}

:global .resizable-cell > .is-resizing > .react-resizable-handle,
:global .resizable-cell > .react-resizable-handle:hover,
:global .resizable-cell > .react-resizable-handle:active {
  background: black;
}

.is-over-current:before {
  content: " ";
  display: block;
  position: absolute;
  z-index: 100;
  background: inherit;
  filter: invert(100%);
}

.is-over-above:before {
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

.is-over-below:before {
  opacity: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

.is-over-left-of:before {
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  width: 2px;
}

.is-over-right-of:before {
  opacity: 1;
  top: 0;
  right: 0;
  bottom: 0;
  width: 2px;
}
