.resizable {
  position: relative;
}

.inline-left {
  composes: resizable;
}

.inline-right {
  composes: resizable;
}

:global .resizable-cell > .react-resizable-handle {
  position: absolute;
  z-index: 2;
  width: 8px;
  top: 0;
  bottom: 0;
  right: -4px;
  padding: 0 3px 3px 0;
  box-sizing: border-box;
  cursor: e-resize;
}

.inline-right :global .react-resizable-handle {
  left: -4px;
}

:global .resizable-cell > .is-resizing > .react-resizable-handle,
:global .resizable-cell > .react-resizable-handle:hover {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), black 30%, rgba(0, 0, 0, 0) 40%);
}
