.react-resizable {
  position: relative;
  height: 100%;
}

.react-resizable > .react-resizable-handle {
  position: absolute;
  z-index: 2;
  width: 4px;
  padding: 0 4px;
  top: 0;
  bottom: 0;
  right: -4px;
  cursor: e-resize;
}

.ory-cell-resizable-inline-right > .react-resizable-handle {
  left: -4px;
}

.react-resizable > .react-resizable-handle:after {
  content: " ";
  background-color: var(--minBlack);
  /* width: 30px; */
  /* height: 30px; */
  position: absolute;
  /* z-index: 1000; */
  top: 45%;
  bottom: 0;
  left: 2px;
  right: 2px;
  height: 10%;
  transition: all 200ms linear;
}

.react-resizable > .react-resizable-handle:hover:after,
.react-resizable > .react-resizable-handle:active:after {
  background-color: var(--black);
  top: 0;
  height: 100%;
}
