.editable-cell {
    background: rgba(0,0,0,0.1);
}

.editable-cell>* {
    margin: 8px;
}

.editable-cell.drag-hover:before {
    content: ' ';
    position: absolute;
    z-index: 100;
    background: darkslategrey;
}

.editable-cell.drag-hover-top:before {
    top: 0;
    width: 100%;
    height: 2px;
}

.editable-cell.drag-hover-bottom:before {
    bottom: 0;
    width: 100%;
    height: 2px;
}

.editable-cell.drag-hover-left:before {
    top: 0;
    left: 0;
    bottom: 0;
    width: 2px;
}

.editable-cell.drag-hover-right:before {
    top: 0;
    right: 0;
    bottom: 0;
    width: 2px;
}