.ory-controls-trash {
  position: fixed;
  bottom: -64px;
  z-index: 100;
  left: 50%;
  transition: bottom 200ms ease;
  padding: 8px;
}

.ory-controls-trash.ory-controls-trash-active {
  bottom: 16px;
}

