.is-over-current:before {
  content: " ";
  display: block;
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, .1);
  box-shadow: 0 0 4px rgba(0, 0, 0, .2);
}

.is-over-above:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 9%;
}
.leaf.is-over-above:before {
  height: 36%;
}

.is-over-below:before {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 9%;
}
.leaf.is-over-below:before {
  height: 36%;
}

.is-over-left-of:before {
  top: 0;
  left: 0;
  bottom: 0;
  width: 9%;
}
.leaf.is-over-left-of:before {
  width: 36%;
}

.is-over-right-of:before {
  top: 0;
  right: 0;
  bottom: 0;
  width: 9%;
}
.leaf.is-over-right-of:before {
  width: 36%;
}

.is-over-inline-left:before {
  top: 0;
  left: 0;
  width: 50%;
  height: 36%;
}
.is-over-inline-right:before {
  top: 0;
  right: 0;
  width: 50%;
  height: 36%;
}
