.react-page-cell-draggable {
  cursor: move;
  position: relative;
  transition: opacity 200ms ease;
}

.react-page-cell-draggable-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  cursor: move;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: all ease 0.4s;
}

.react-page-cell-draggable-overlay-handle {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  cursor: move;
  background: var(--minBlack);
  content: '';
  z-index: 500;
}

.react-page-cell-draggable-overlay-handle
  .react-page-cell-draggable-overlay-handle-icon::before {
  top: -300%;
}

.react-page-cell-draggable-overlay-handle .react-page-cell-draggable-overlay-handle-icon {
  width: 70%;
  top: 50%;
}

.react-page-cell-draggable-overlay-handle
  .react-page-cell-draggable-overlay-handle-icon::after {
  top: 400%;
}

.react-page-cell-draggable-overlay-handle
  .react-page-cell-draggable-overlay-handle-icon::before,
.react-page-cell-draggable-overlay-handle
  .react-page-cell-draggable-overlay-handle-icon::after {
  width: 100%;
}

.react-page-cell-draggable-overlay-handle .react-page-cell-draggable-overlay-handle-icon,
.react-page-cell-draggable-overlay-handle
  .react-page-cell-draggable-overlay-handle-icon::before,
.react-page-cell-draggable-overlay-handle
  .react-page-cell-draggable-overlay-handle-icon::after {
  height: 2px;
  position: absolute;
  content: '';
  transform: translate(-50%, -50%);
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
}

.react-page-cell-draggable-overlay:hover {
  background: var(--minBlack);
  border: 1px solid var(--lightWhite);
  background-blend-mode: screen;
}

.react-page-cell-draggable-overlay-description {
  text-align: center;
  display: block;
  color: rgba(0, 0, 0, 0.97);
  max-width: 100%;
}

.react-page-cell-draggable-overlay-description span {
  opacity: 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.97);
  max-width: 90%;
  display: inline-block;
  padding: 8px 22px;
  margin: 0 auto;
  border-radius: 0 0 12px 12px;
  text-transform: uppercase;
  font-size: 75%;
  letter-spacing: 0.15em;
  background: rgba(255, 255, 255, 0);
  transition: all ease 0.4s;
}

.react-page-cell-draggable-overlay:hover .react-page-cell-draggable-overlay-description span {
  background: rgba(255, 255, 255, 0.95);
  opacity: 1;
}

.react-page-cell-draggable-overlay.react-page-cell-draggable-leaf {
  z-index: 3;
}

.react-page-cell-draggable-inline-left.react-page-cell-draggable-overlay,
.react-page-cell-draggable-inline-right.react-page-cell-draggable-overlay {
  float: left;
  z-index: 4;
}

.react-page-cell-draggable-is-dragging {
  opacity: 0.4;
  outline: none;
}
