@keyframes oryCellResizeableAnimate {
  0% {
    background-color: var(--minWhite);
    top: 45%;
    bottom: 45%;
  }
  50% {
    background-color: var(--faintWhite);
    top: 0;
    bottom: 0;
  }
  100% {
    background-color: var(--darkWhite);
    top: 45%;
    bottom: 45%;
  }
}

.ory-cell-resizable-inline-right > .react-resizable-handle {
  left: -4px;
}

.ory-cell-resizable.react-resizable > .react-resizable-handle {
  position: absolute;
  z-index: 5;
  width: 4px;
  top: 0;
  bottom: 0;
  right: -2px;
  cursor: e-resize;
  background-color: var(--lightBlack);
  mix-blend-mode: difference;
  transition: all 200ms linear;
}

.ory-cell-resizable.react-resizable > .react-resizable-handle:after {
  content: " ";
  background-color: var(--darkWhite);
  /* width: 30px; */
  /* height: 30px; */
  position: absolute;
  /* z-index: 1000; */
  top: 45%;
  bottom: 45%;
  left: 0;
  right: 0;
  transition: all 200ms linear;
  mix-blend-mode: normal;

  animation-name: oryCellResizeableAnimate;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 0.8s;
}

.ory-cell-resizable.react-resizable > .react-resizable-handle:hover:after,
.ory-cell-resizable.react-resizable > .react-resizable-handle:active:after {
  background-color: var(--fullWhite);
  top: 0;
  bottom: 0;
}
