@keyframes oryCellResizeableAnimate {
  0% {
    background-color: var(--minBlack);
    top: 45%;
    height: 10%;
  }
  50% {
    background-color: var(--faintBlack);
    top: 0;
    height: 100%;

  }
  100% {
    background-color: var(--minBlack);
    top: 45%;
    height: 10%;
  }
}

.ory-cell-resizable-inline-right > .react-resizable-handle {
  left: -4px;
}

.ory-cell-resizable.react-resizable {
  position: relative;
  height: 100%;
}

.ory-cell-resizable.react-resizable > .react-resizable-handle {
  position: absolute;
  z-index: 5;
  width: 4px;
  top: 0;
  bottom: 0;
  right: -2px;
  cursor: e-resize;
}

.ory-cell-resizable.react-resizable > .react-resizable-handle:after {
  content: " ";
  background-color: var(--minBlack);
  /* width: 30px; */
  /* height: 30px; */
  position: absolute;
  /* z-index: 1000; */
  top: 45%;
  bottom: 0;
  height: 10%;
  left: 0;
  right: 0;
  transition: all 200ms linear;

  animation-name: oryCellResizeableAnimate;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 0.8s;
}

.ory-cell-resizable.react-resizable > .react-resizable-handle:hover:after,
.ory-cell-resizable.react-resizable > .react-resizable-handle:active:after {
  background-color: black;
  top: 0;
  height: 100%;
}
