.editable-object {

    .deprecated.editable-section {
        outline: $editable-outline;
        transition: all 250ms ease;
        cursor: pointer;

        &:hover, &:active, &:focus {
            outline: $editable-active-outline;
            background: $editable-background-color;
        }

        &.active {
            cursor: default;
        }
    }

    [contenteditable=true], input, textarea {
        &:focus {
            border: none;
            outline: none;
        }
    }

    .editable-section-placeholder {
        position: relative;
        width: 100%;
        height: auto;

        .fa {
            text-align: center;
            display: none;
            transition: all 250ms ease;
            font-size: 0.7em;
        }

        &.drop-active {
            margin: 5px 0;
            padding: 5px 0;
            .fa {
                display: block;
            }
        }

        &.drop-target {
            vertical-align: middle;
            padding: 50px;

            outline: $editable-active-outline;
            background: $editable-background-color;

            .fa {
                font-size: 3em;
            }
        }
    }

    .editable-section-placeholder {
        transition: all 200ms ease;
    }
}
