.toolbar-push {
  width: 100%;
  height: 0;

  transition: height 250ms ease;
  -webkit-transition: height 250ms ease;
}

.toolbar {
  position: fixed;
  width: 100%;
  z-index: 99;

  left: 0;

  transition: opacity 250ms ease, transform 250ms ease;
  -webkit-transition: opacity 250ms ease, transform 250ms ease;

  .toolbar-toggler {
    color: $toolbar-text-color;
    font-size: 1.2em;

    background-color: $toolbar-button-color;

    cursor: pointer;
    padding: 0 10px;

    transition: opacity 250ms ease, color 250ms ease;
    -webkit-transition: opacity 250ms ease, color 250ms ease;

    position: fixed;
    left: 0;
    bottom: 0;

    &:hover, &:active {
      background-color:  $toolbar-button-active-color;
    }
  }

  .toolbar-body {
    background-color: $toolbar-upper-color;
    text-align: center;
    position: relative;

    .toolbar-button {

      height: 50px;
      width: 75px;

      display: inline-block;
      margin: 10px;

      border-radius: $border-radius-normal;
      cursor: pointer;

      transition: background 250ms ease;
      -webkit-transition: background 250ms ease;

      &.is-missing {
        background-color: lighten($toolbar-button-missing-color, 15%);
      }

      .toolbar-button-inner {
        font-size: 2.5em;
        color: $toolbar-text-color;

        background-color: $toolbar-button-color;
        border-radius: $border-radius-normal;

        transition: opacity 250ms ease, color 250ms ease;
        -webkit-transition: opacity 250ms ease, color 250ms ease;

        width: 100%;
        height: 100%;

        &:hover, &:active {
          color: $toolbar-text-active-color;
        }

        &.is-dragging {
          opacity: 0.5;
        }
      }
    }
  }
}
